<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="header-content">
      <h1>FuelDash<span class="dot">.</span></h1>
      <div class="user-info">

        @if (userData) {
          <span>Bem-vindo, <strong>{{ userData.username }}</strong></span>
        }

        <button class="btn-logout" (click)="logout()">Logout</button>
      </div>
    </div>

    <!-- Veículo ativo -->
    <div class="active-vehicle">
      @if (activeVehicle) {
        <span>🚗 {{ activeVehicle.apelido }} — {{ activeVehicle.modelo }}</span>
      } @else {
        <span>Nenhum veículo ativo</span>
      }
    </div>

   
  </header>

  <main class="dashboard-main">
    <div class="dashboard-grid">
      <div class="card" (click)="openPanel('vehicles')">
        <h2>🚗 Veículos</h2>
        <p>Cadastre seus veículos</p>
      </div>
      <div class="card">
        <h2>📊 Relatórios</h2>
        <p>Acompanhe os indicadores dos gastos e consumo de forma visual</p>
      </div>
      <div class="card" (click)="openPanel('costs')">
        <h2>💰 Custos</h2>
        <p>Registre seus custos de abastecimento</p>
      </div>
      <div class="card">
        <h2>📍 Rotas</h2>
        <p>Informe suas rotas de abastecimento</p>
      </div>
    </div>
  </main>

  <!-- Overlay -->
  @if (activePanel !== '') {
    <div class="overlay" (click)="closePanel()"></div>
  }

<!-- Painel lateral de veículos -->
@if (activePanel === 'vehicles') {
  <div class="side-panel">
    <button class="btn-close-panel" (click)="closePanel()">
      ← Voltar
    </button>
    <app-vehicles/>
  </div>
}

<!-- Painel lateral de custos -->
@if (activePanel === 'costs') {
  <div class="side-panel">
    <button class="btn-close-panel" (click)="closePanel()">
      ← Voltar
    </button>
    <app-costs />
  </div>
}

  <footer class="dashboard-footer">
    <p>FuelDash © 2026 - Dashboard Inteligente de Gestão de Abastecimento</p>
  </footer>
</div>